// *------------------------------------------------
// app
// ------------------------------------------------*/
@font-face {
  src: url('../fonts/APJapanesefont.ttf');
  font-family: APJapanesefont;
}
%font-ap {
  font-family: APJapanesefont, sans-serif !important;
}

.app {
  display: block;

  &__body {
    padding: 25px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 30px;

    &__prefix {
      @extend %font-ap;
      display: block;
      font-size: 0.7em;
      line-height: 1;
      margin: 0 0 4px;
    }
  }

  &__preview {
    display: block;
  }
  &__editor {
    display: block;
  }
}



.app_footer {
  display: block;
  padding: 25px 0;
  background: theme-color('light');

  &__menu {
    display: block;

    &__list {
      @include list-unstyled;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &__item {
        display: block;
        margin: 0 0 0.5em;
        padding: 0 0.5em;
      }
    }
  }

  &__copyright {
    display: block;
    font-size: 13px;
    text-align: center;
  }
}
